<%= 'Welcome!' %>

<%= 'If you didn\'t sign up for a Firefox account, <a href="' + report_link + '">Report it</a>.' %>

<%= 'Click the following link to verify email' %>
<%= link %>

<%= 'Thank you,' %>
<%= 'The Firefox Sync Team' %>
